.fruit {
    border-radius: .5em;
    border: 2px solid black;
    display: flex;
    flex-wrap: nowrap;
    padding: 1em;
    width: 15em;
    justify-content: center;
    align-items: center;
    margin: 0 0 10px 0;
}
.fruit > * {
    margin: 5px;
}

.fruit > input {
    background-color: transparent;
    border: 0px solid;
    width: 10px;
}